@model IEnumerable<Board.Models.Category>
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AdsSearch", "Ads", FormMethod.Post))
{
    <div class="form-group mt-4 d-flex justify-content-center align-items-center">
        <label for="adSearch" class="text-right mobileHide">Поиск по всему сайту</label>
        <input type="text" id="adSearch" placeholder="Введите ключевое слово" name="nameSearch" class="ml-3 mr-1 form-control col-7">
        <button type="submit" class="btn btn-success mobileFull">Найти</button>
    </div>
}

<div class="row">

    @foreach (var category in Model.Where(a => a.Special == false).OrderBy(a => a.Name))
    {
        <div class="col-xs-12 col-lg-4 col-md-4">
        <div class="card mb-4 px-0">
            <div class="card-body">
                <h4 class="card-title text-center">@category.Name</h4>
                <div class="d-flex justify-content-center">

                    @foreach (var subcat in ViewBag.SubCategory)
                    {
                        string nameSub = subcat.Name.ToString();

                        @*@Html.ActionLink(nameSub, "AllAds", "Ads", new { subcatid = subcat.Id, id = category.Id }, 
                       new { @class = "btn btn-primary mr-1 advert__widthbtn" })*@

                        using (Html.BeginForm("AllAds", "Ads", FormMethod.Post))
                        {
                            <input type="hidden" value="@subcat.Id" name="SubCatId" />
                            <input type="hidden" value="@category.Id" name="Id"/>
                            <input type="hidden" value="@category.Name" name="name" />
                            <input type="submit" value="@nameSub" class="btn btn-primary mr-1 advert__widthbtn mobileLgBtn"/>
                        }
                    }

                </div>
            </div>
        </div>
       </div>
    }




    @foreach (var category in Model.Where(a => a.Special == true).OrderBy(a => a.Name))
    {
        <div class="col-xs-12 col-lg-4 col-md-4">
        <div class="card mb-4 px-0">
            <div class="card-body">
                <h4 class="card-title text-center">@category.Name</h4>
                <div class="d-flex justify-content-center">

                    @*@Html.ActionLink("Перейти", "AllAds", "Ads", new { id = category.Id }, new { @class = "btn btn-primary advert__widthbtn" })*@

                    @using (Html.BeginForm("AllAds", "Ads", FormMethod.Post))
                    {
                    <input type="hidden" value="@category.Id" name="Id" />
                    <input type="submit" value="Перейти" class="btn btn-primary mr-1 advert__widthbtn" />
                    }

                </div>
            </div>
        </div>
    </div>
    }
</div>
