@model Board.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<h2>@ViewBag.Title</h2>
<p>Поля отмеченные <sup class="text-danger">*</sup> являются обязательными для заполнения</p>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-md-4 control-label">Адрес электронной почты<sup class="text-danger">*</sup></label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Пароль<sup class="text-danger">*</sup></label>
        <div class="col-md-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Подтверждение пароля<sup class="text-danger">*</sup></label>
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Номер телефона<sup class="text-danger">*</sup> (11 чисел)</label>
        <div class="col-md-4">
            <input type="tel" class="form-control" id="PhoneNumber" maxlength="11" name="PhoneNumber" pattern="[0-9]{11}" />
            @*@Html.PasswordFor(m => m.PhoneNumber, new { @class = "form-control", maxlength = 11 })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
    <span class="text-muted">Нажимая кнопку "Регистрация", Вы соглашаетесь с условиями нашей
        <a href="~/pconf">политики конфиденциальности</a></span>
    </div>
    
        <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <input type="submit" id="btnReg" class="btn btn-success mb-4" value="Зарегистрироваться" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*<script>
            $(document).ready(function () {

                $("#PhoneNumber").change(function () {

                    var value = $(this).val();
                    var mask = /^[0-9]{11}$/i;

                    if (mask.test(value)) {
                        $("#btnReg").removeAttr("disabled");
                        //$(this).css({ "border": "1px solid green", "color":"green" });
                    }
                    else {
                        $(this).css({ "border": "1px solid red", "color": "red" });
                        //$("#btnReg").attr("disabled", true);
                    }

                });

            });
        </script>*@
}
