@using Board.Models
@model Ads
@{ 

     ViewBag.Title = "Добавление нового объявления";
}
<div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12">

        <h4>Добавление нового объявления</h4>

        <div class="col-xs-12 col-lg-6 col-md-6">
            @if (ViewBag.Flag == "Success")
            {
                <div class="alert alert-success" role="alert">
                    Объявление успешно добавлено
                </div>
            }

            @if (ViewBag.Flag == "Fail")
            {
                <div class="alert alert-danger" role="alert">
                    Объявление не добавлено
                </div>
            }

        <div class="alert alert-danger" role="alert">
            Опасайтесь мошенников просящих пополнить баланс телефона или банковскую карту якобы за найденную вещь
        </div>
       </div>
  

        @if (ViewBag.FirstName == null || ViewBag.CheckPhoneUser == null)
        {
            <div class="col-xs-12 col-lg-6 col-md-6">
            <div class="alert alert-danger" role="alert">
                Вы не указали свои данные(ваше имя) <a href="~/Manage/Index" class="btn btn-primary">Указать</a>
            </div>
            </div>
        }
        else
        { 
            <section id="loginForm">
                @using (Html.BeginForm("CreateNewAds", "Ads", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form", id = "AddForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        Поля отмеченные <sup class="text-danger">*</sup> являются обязательными для заполнения

                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-lg-6 col-md-6">Название объявления<sup class="text-danger">*</sup></label>
                        <div class="col-xs-12 col-lg-6 col-md-6">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "Name", required = "required" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-lg-6 col-md-6">Описание объявления<sup class="text-danger">*</sup></label>
                        <div class="col-xs-12 col-lg-6 col-md-6">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", id = "Desc", required = "required" })
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-6 control-label">Категория <sup class="text-danger">*</sup></label>
                        <div class="col-xs-12 col-lg-6 col-md-6">
                            <select class="form-control" required name="Category" id="Category">
                                <option selected value="" disabled>Выберите категорию</option>
                                @foreach (Category cat in ViewBag.Category)
                                {
                                    <option value="@cat.Id">@cat.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group" id="SubCat">
                        <label class="col-md-6 control-label">Подкатегория <sup class="text-danger">*</sup></label>
                        <div class=" col-xs-12 col-lg-6 col-md-6">
                            <select class="form-control" name="SubCat">
                                <option selected value="" disabled>Выберите подкатегорию</option>
                                @foreach (SubCategory cat in ViewBag.SubCat)
                                {
                                    <option value="@cat.Id">@cat.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Город<sup class="text-danger">*</sup></label>
                        <div class="col-md-6">
                            <select class="form-control" required id="City" name="City">
                                <option selected value="" disabled>Выберите город</option>
                                <option value="@ViewBag.Izh.Id">@ViewBag.Izh.Name</option>
                                @foreach (City city in ViewBag.City)
                                {
                                    <option value="@city.Id">@city.Name</option>
                                }
                            </select>
                        </div>
                    </div>




                    <div class="form-group" id="file">
                        <label class="control-label col-md-6">Выберите фотографию (расширение .png, .jpg, .jpeg)</label>
                        <div class="col-xs-12 col-lg-4 col-md-4">
                            <input type="file" class="form-control" name="upload" />

                        </div>
                        <div class="col-xs-12 col-lg-12 col-md-12">
                            <input type="button" id="Add" class="btn btn-primary" value="Добавить еще фотографию" />
                            @*<input type="button" id="Delete" class="btn btn-danger" value="Удалить текущую фотографию" />*@
                        </div>
                    </div>

                    <div id="append"></div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Добавить объявление" id="AddAds" class="btn btn-success" />
                        </div>
                    </div>

                }
            </section>
        }
    </div>
     


</div>
@Scripts.Render("~/bundles/jqueryval")

@section Scripts {
    <script>
        $(document).ready(function () {

            var subcat = $("#SubCat");
            var category = $("#Category");
            var name = $("#Name");
            var city = $("#City");
            var desc = $("#Desc");
            var required = $("#SubCatRequired");

            $("#file").first().find("#Delete").hide();

            subcat.hide();

            $("body").on("click", "#Add", function (e) {

                e.preventDefault();

                var blockfile = $(this).parent().parent().clone();

                var filename = blockfile.find("input[type='file']").val();

                var extension = filename.replace(/^.*\./, '');

                if (extension == "jpeg" || extension == "png" || extension == "jpg" || extension == '') {

                    blockfile.appendTo("#append");

                    //blockfile.find("#Delete").show();

                    var valFile = blockfile.find("input[type='file']").val("");

                }
                else {

                    submitEvent.preventDefault();
                }

             

            });

            $("body").on("click", "#Delete", function (e) {

                e.preventDefault();

                var blockfile = $(this).parent().parent();

                blockfile.remove();

            });

            $("#AddForm").submit(function (submitEvent) {

                flag = false;

                count = 0;

                countImage = $("input[type='file']").length;

                $("input[type='file']").each(function () {

                    var filename = $(this).val();

                    var extension = filename.replace(/^.*\./, '');

                    if (extension == "jpeg" || extension == "png" || extension == "jpg" || extension == '') {
                       
                        flag = true;

                        count++;
                    }
                    else {

                        submitEvent.preventDefault();
                        flag = false;
                    }
                
                   
                });

                if (count == countImage) {
                    $(this).unbind("submit").submit();
                }

            });

            $("#Category").change(function () {

                var CategoryId = $(this).val();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CheckSpecialCategory", "Category")',
                    dataType: "text",
                    data: "CategoryId=" + CategoryId,
                    success: function (data) {

                        if (data == "True") {
                            subcat.hide();
                            subcat.find("select").removeAttr("required");

                        }
                        else {
                            subcat.show();
                            subcat.find("select").attr("required", true);
                        }
                    }

                    });

            });




        })
    </script>
}