@using Board.Models
@model Ads

<div class="row">
    <div class="col-md-6">

        <h4>Добавление нового объявления</h4>

            @if (ViewBag.Flag == "Success")
            {
                <div class="alert alert-success" role="alert">
                    Объявление успешно добавлено
                </div>
            }

            @if (ViewBag.Flag == "Fail")
            {
                <div class="alert alert-danger" role="alert">
                    Объявление не добавлено
                </div>
            }

        <div class="alert alert-danger" role="alert">
            Опасайтесь мошенников просящих пополнить баланс телефона якобы за найденную вещь
        </div>
        
        @if (ViewBag.FirstName == null || ViewBag.LastName == null || ViewBag.CheckPhoneUser == null)
        {
            <div class="alert alert-danger" role="alert">
                Вы не указали свои данные! <a href="~/Manage/Index" class="btn btn-primary">Указать</a>
            </div>
        }
        else
        { 
        <section id="loginForm">
            @using (Html.BeginForm("CreateNewAds", "Ads", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-6 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "Name" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "col-md-6 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", id = "Desc" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-6 control-label">Категория <sup class="text-danger">*</sup></label>
                    <div class="col-md-10">
                    <select class="form-control" required name="Category" id="Category">
                        <option selected>Выберите категорию</option>
                        @foreach (Category cat in ViewBag.Category)
                        {
                            <option value="@cat.Id">@cat.Name</option>
                        }
                    </select>
                    </div>
                </div>

                <div class="form-group"  id="SubCat">
                    <label class="col-md-6 control-label">Подкатегория <sup class="text-danger">*</sup></label>
                    <div class="col-md-10">
                    <select class="form-control" required id="SubCat" name="SubCat">
                        <option selected>Выберите подкатегорию</option>
                        @foreach (SubCategory cat in ViewBag.SubCat)
                        {
                            <option value="@cat.Id">@cat.Name</option>
                        }
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Город<sup class="text-danger">*</sup></label>
                    <div class="col-md-10">
                    <select class="form-control" required id="City" name="City">
                        <option selected>Выберите город</option>
                        @foreach (City city in ViewBag.City)
                        {
                            <option value="@city.Id">@city.Name</option>
                        }
                    </select>
                    </div>
                </div>


                <div class="form-group" id="file">
                    <label class="control-label col-md-6">Выберите фотографию</label>
                    <div class="col-xs-12 col-lg-10 col-md-10">
                        <input type="file" required class="form-control" name="upload" />
                        <input type="button" id="Add" class="btn btn-primary" value="Добавить" />
                        <input type="button" id="Delete" class="btn btn-danger" value="Удалить" />
                    </div>

                    @*<div class="col-xs-12 col-lg-2 col-md-2">
                        <input type="button" id="Add" class="btn btn-primary" value="Добавить" />
                        <input type="button" id="Delete" class="btn btn-danger" value="Удалить" />
                    </div>*@
                </div>

                <div id="append"></div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Добавить объявление" id="AddAds" class="btn btn-primary" />
                    </div>
                </div>

            }
        </section>
        }
    </div>
     


</div>
@Scripts.Render("~/bundles/jqueryval")

@section Scripts {
    <script>
        $(document).ready(function () {

            var subcat = $("#SubCat").hide();
            var category = $("#Category");
            var name = $("#Name");
            var city = $("#City");
            var desc = $("#Desc");


            $("body").on("click", "#Add", function (e) {

                e.preventDefault();

                var blockfile = $(this).parent().parent().clone();

                blockfile.appendTo("#append");

            });

            $("body").on("click", "#Delete", function (e) {

                e.preventDefault();

                var blockfile = $(this).parent().parent();

                blockfile.remove();

            });

            $("#Category").change(function () {

                var CategoryId = $(this).val();

                $.ajax({
                    type: "POST",
                    url:"http://localhost:63234/Category/CheckSpecialCategory",
                    dataType: "text",
                    data: "CategoryId="+CategoryId,
                    success: function (data) {

                        if (data == "True") {
                            subcat.hide();
                        }
                        else {
                            subcat.show();
                        }
                    }

                });

            });




        })
    </script>
}