@model IEnumerable<Board.Models.Ads>


@foreach (var ads in Model)
{

    var name = ads.Name.ToString();

    <div class="advert mb-3">
        <div class="d-flex justify-content-between align-items-center">

            @Html.ActionLink(name, "SelectAds", "Ads", new { name = ads.Name, id = ads.Id },
                     new { @class = "d-block col-lg-5 px-0 AdsName advert__fontsize" })

            @*<a href="~/ads/" class="d-block col-lg-3 px-0 AdsName advert__fontsize">@ads.Name</a>*@
            <div class="col-lg-7 col-xs-12 px-0 d-md-flex justify-content-between text-center px-5 mobileHide">
                <div class="advert__city col  px-0">@ads.Citys.Name</div>
                <div class="advert__date col px-0">@ads.DateCreation.Value.Day.@ads.DateCreation.Value.Month.@ads.DateCreation.Value.Year</div>
                <div class="advert__user col px-0">@ads.User.FirstName @ads.User.Patronymic</div>
            </div>
        </div>
    </div>

}
