@model Board.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Изменение номера телефона";
}

<div class="col-xs-12 col-lg-6 col-md-6">
    @if (ViewBag.Flag == "Success")
    {
        <div class="alert alert-success" role="alert">
            Номер телефона успешно изменен
        </div>
    }

    @if (ViewBag.Flag == "Fail")
    {
        <div class="alert alert-danger" role="alert">
            Номер телефона не изменен
        </div>
    }
</div>

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Личные данные", "Index", "Manage", null, new { @class = "btn btn-warning" })
@Html.ActionLink("Смена пароль", "ChangePassword", "Manage", null, new { @class = "btn btn-warning" })
@Html.ActionLink("Мои объявления", "MyAds", "Ads", null, new { @class = "btn btn-warning" })
@Html.ActionLink("Добавить объявление", "AddAds", "Ads", null, new { @class = "btn btn-success" })


@using (Html.BeginForm("UpdatePhoneUser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-5">Введите номер в формате х-ххх-ххх-хх-хх</label>
        <div class="col-md-4">
            <input type="tel" class="form-control" required name="Number" pattern="[0-9]{1}-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" />
            @*@Html.TextBoxFor(m => m.Number, new { @class = "form-control" })*@
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Изменить" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
