@model Board.Models.IndexViewModel

<div class="row">
    <div class="col-md-6 col-lg-6">

         @if (TempData["Flag"] == "Success")
            { 
            <div class="alert alert-success" role="alert">
                Данные успешно изменены
            </div>
            }

            @if (TempData["Flag"] == "Fail")
            {
                <div class="alert alert-danger" role="alert">
                    Данные не изменены
                </div>
            }

</div>
       

       <div class="col-xs-12 col-lg-12 col-md-12">
        <h2>Личный кабинет</h2>  
        @Html.ActionLink("Смена пароля", "ChangePassword", "Manage", null, new { @class = "btn btn-warning col-xs-12 mt-2 mobile-full" })
        @Html.ActionLink("Номер телефона", "AddPhoneNumber", "Manage", null, new { @class = "btn btn-warning col-xs-12 mt-2 mobile-full" })
        @Html.ActionLink("Мои объявления", "MyAds", "Ads", null, new { @class = "btn btn-warning col-xs-12 mt-2 mobile-full" })
        @Html.ActionLink("Добавить объявление", "AddAds", "Ads", null, new { @class = "btn btn-success  col-xs-12 mt-2 mobile-full" })
        </div>  

    <div class="col-xs-12 col-lg-6 col-md-6">
        @using (Html.BeginForm("UpdateFIO", "Manage", FormMethod.Post))
        {
            <p class="mt-2">Поля отмеченные <sup class="text-danger">*</sup> обязательны для заполнения</p>
            <div class="form-group">
             <label>Имя<sup class="text-danger">*</sup></label>
             <input type="text" required class="form-control" name="firstname" value="@Model.FirstName" />
         </div>

         @*<div class="form-group">
             <label>Фамилия</label>
             <input type="text" placeholder="По желанию" class="form-control" name="lastname" value="@Model.LastName" />
         </div>*@

         <div class="form-group">
             <label>Отчество</label>
             <input type="text" placeholder="По желанию" class="form-control" name="patr" value="@Model.Patronymic" />
         </div>

         <div class="form-group">
             <input type="submit" value="Подтвердить" class="btn btn-success" />
         </div>

        }
    </div>


</div>



