@model Board.Models.City
@{ 
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}
<div class="row">
    <div class="col-md-8">

            @if (ViewBag.Flag == "Success")
            { 
            <div class="alert alert-success" role="alert">
                Город успешно добавлен
            </div>
            }

            @if (ViewBag.Flag == "Fail")
            {
                <div class="alert alert-danger" role="alert">
                    Город не добавлен!
                </div>
            }

    <h2>Добавление нового города</h2>

        <section id="loginForm">
            @using (Html.BeginForm("CreateNewCity", "City", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-5 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Добавить" class="btn btn-success" />
                    </div>
                </div>

            }
        </section>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}