<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - Мир-Находок.рф</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/fontawesome-all.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/PagedList.css" />
</head>

<body>
    <div class="page">

        <header class="header">
            <div class="container">
                <div class="navbar navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand text-secondary font-weight-bold text-uppercase nav_border" href="#">Мир-находок.рф</a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto nav header__nav">
                            <li class="nav-item">
                                <a class="nav-link text-primary" href="~/Home/Index">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary" href="~/Home/Contact">Контакты</a>
                            </li>
                         @if (User.Identity.IsAuthenticated)
                         {
                            <li>
                                @Html.ActionLink("Мои объявления", "MyAds", "Ads", null, new { @class = "nav-link" })
                            </li>

                            if (User.IsInRole("Администратор"))
                            {
                             <li>
                                @Html.ActionLink("Панель администратора", "GetAllAds", "Ads", null, new { @class = "nav-link" })
                            </li>
                            }
                         }   
                        </ul>
                        <div class="auth py-xl-4 text-center">
                           @if (!User.Identity.IsAuthenticated)
                            {
                            <div class="auth">
                                <a href="/Account/Register">
                                    <i class="fa fa-user-alt mr-2"></i>Регистрация
                                </a>
                                <a href="/Account/Login">
                                    <i class="fa fa-sign-in-alt mr-2"></i>Авторизация
                                </a>
                            </div>
                            }
                            else
                            {
                               @Html.Partial("_LoginPartial")
                            }
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </header>

        @*<header class="header">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="navbar">
                        <a class="navbar-brand text-secondary font-weight-bold text-uppercase nav_border" href="#">Мир-находок.рф</a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav header__nav">
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/Index">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/Contact">Контакты</a>
                            </li>
                         @if (User.Identity.IsAuthenticated)
                         {
                            <li>
                                @Html.ActionLink("Мои объявления", "MyAds", "Ads", null, new { @class = "nav-link" })
                            </li>

                            if (User.IsInRole("Администратор"))
                            {
                             <li>
                                @Html.ActionLink("Панель администратора", "GetAllAds", "Ads", null, new { @class = "nav-link" })
                            </li>
                            }
                         }                        

                        </ul>
                    </div>
                    @if (!User.Identity.IsAuthenticated)
                    {
                    <div class="auth">
                        <a href="/Account/Register">
                            <i class="fa fa-user-alt mr-2"></i>Регистрация
                        </a>
                        <a href="/Account/Login">
                            <i class="fa fa-sign-in-alt mr-2"></i>Авторизация
                        </a>
                    </div>
                    }
                    else
                    {
                       @Html.Partial("_LoginPartial")
                    }
                     </div>
                </div>
            </div>
        </header>*@
        <div class="content">
            <div class="container">
               
                    @RenderBody()
               
            </div>
        </div>
        @*<footer class="footer">
            <div class="container">
                <div class="py-4 text-center text-secondary">Название сайта. Все права защищены 2018 год.</div>
            </div>
        </footer>*@
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/index.js"></script>
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @RenderSection("scripts", required: false)

</body>

</html>

